<ion-list>
  <ng-container *ngIf="contacts$ | async as contacts; else loading">
    <ng-container *ngIf="contacts.length > 0; else noContacts">
      <div class="cartas">
        <div *ngFor="let contact of contacts" class="contact-item">

          <!-- Foto de perfil -->
          <div class="imgC">
            <ion-avatar slot="start">
              <img src="{{ contact.picture }}" alt="Foto de {{ contact.name }}">
            </ion-avatar>
          </div>
  
  
          <div class="options">
              <!--  Informacion del contacto   -->      
              <div class="info">
                <h2>{{ contact.name }}</h2>
                <p>{{ contact.number }}</p>
              </div>
  
              <!-- Botones de acción -->
              <div class="ion-item-buttons">
                <ion-button fill="clear" (click)="deleteContact(contact)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="callContact(contact)">
                  <ion-icon name="call-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="openChat(contact)">
                  <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                </ion-button>
              </div>
  
          </div>
  
  
  
        </div>

      </div>

    </ng-container>
  </ng-container>
</ion-list>

<ng-template #loading>
  <ion-item>
    <ion-label class="load">
      <ion-spinner>cargando</ion-spinner>
    </ion-label>
  </ion-item>
</ng-template>

<ng-template #noContacts>
  <ion-item>
    <ion-label>
      <h2>No tienes contactos registrados.</h2>
    </ion-label>
  </ion-item>
</ng-template>
