<ion-header>
  <ion-toolbar>
    <ion-title>Completar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="firstname" placeholder="Introduce tu nombre"></ion-input>
    </ion-item>

    <div *ngIf="profileForm.get('firstname')?.invalid && profileForm.get('firstname')?.touched" class="error-message">
      El nombre es obligatorio.
    </div>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input formControlName="phone" placeholder="Introduce tu teléfono"></ion-input>
    </ion-item>

    <div *ngIf="profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched" class="error-message">
      El teléfono es obligatorio.
    </div>

    <ion-button expand="block" type="submit" [disabled]="profileForm.invalid">
      Guardar perfil
    </ion-button>

  </form>

</ion-content>
