
<ion-content [fullscreen]="true" class="login-content">

  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>


  <div class="login-container">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <h1>Iniciar sesión</h1>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button type="submit" expand="block">Iniciar sesión</ion-button>

      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="error-message">
        <ion-text color="danger">
          {{ errorMessage }}
        </ion-text>
      </div>

      <ion-button expand="block" fill="clear" (click)="goToRegister()">
        Registrarse
      </ion-button>

      <div class="google-login">
        <ion-button expand="block" (click)="loginWithGoogle()">
          Login con Google
          <ion-icon name="logo-google" slot="end"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
