<ion-content [fullscreen]="true" class="register-content">
  <!-- Fondo animado con burbujas -->
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>

  <!-- Contenedor del formulario -->
  <div class="register-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
      <h1>Registrarse</h1>

      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="firstname" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input formControlName="phone" type="tel"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Imagen de perfil</ion-label>
          <ion-input formControlName="picture" type="text"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button type="submit" expand="block">Registrar</ion-button>

      <ion-button expand="block" fill="clear" (click)="goToLogin()">¿Ya tienes cuenta? Inicia sesión</ion-button>
    </form>
  </div>
</ion-content>
